# Xcodexcuserdata/DerivedData/*.xccheckout*.xcodeproj/project.xcworkspace/xcuserdata/*.xcscmblueprint# Swift Package Manager.build/Packages/Package.resolved# CocoaPodsPods/*.xcworkspace# CarthageCarthage/Build/# Fastlanefastlane/report.xmlfastlane/Preview.htmlfastlane/screenshotsfastlane/test_output# Archives*.ipa*.dSYM.zip*.dSYM# iOS device supportDeviceSupport/# General macOS files.DS_Store